/* 
  File: ViewPost.css
  
  This file is used to style the ViewPost component.
  The ViewPost component is used to display a single post.
  The ViewPost component is used in the Blog page.

*/

.ViewPost-contant-section * {
  background: transparent !important;
  color: rgba(var(--color-text-1)) !important;
  /* font-size: large !important; */
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

.ViewPost-contant-section p, ul, li, a {
  font-size: medium !important;
}
